# Load Ansible-managed drop-ins.
if [ -d ~/{{ user_config['profile_dropins_dir'] }} ]
then
    for rcfile in ~/{{ user_config['profile_dropins_dir'] }}/*
    do
        [ -r "$rcfile" ] && . "$rcfile"
    done
fi

# Give a chance to perform machine-specific configuration.
# This configuration is not managed by Ansible.
if [ -d ~/{{ user_config['profile_dropins_dir'] }}-unmanaged ]
then
    for rcfile in ~/{{ user_config['profile_dropins_dir'] }}-unmanaged/*
    do
        [ -r "$rcfile" ] && . "$rcfile"
    done
fi
