[ -r /usr/share/bash-completion/bash_completion ] && . /usr/share/bash-completion/bash_completion



{% if 'dev' in features and 'base' in features['dev'] -%}

# Runs curl (silent by default, may be overriden by -v in $@).
#
# $@ - arguments for curl.
function qurl() {
    curl -s $@ | jq
}

{% endif %}



# Load Ansible-managed drop-ins.
if [ -d ~/{{ shell_config['dropins_dir'] }} ]
then
    for rcfile in ~/{{ shell_config['dropins_dir'] }}/*
    do
        [ -r "$rcfile" ] && . "$rcfile"
    done
fi



# Finally, give a chance to perform machine-specific configuration.
# This configuration is not managed by Ansible.
if [ -d ~/{{ shell_config['dropins_dir'] }}-unmanaged ]
then
    for rcfile in ~/{{ shell_config['dropins_dir'] }}-unmanaged/*
    do
        [ -r "$rcfile" ] && . "$rcfile"
    done
fi
