alias gradle='gradle --console=plain'

{% if ansible_os_family == 'Archlinux' %}
alias j11='sudo archlinux-java set java-11-openjdk'
alias j17='sudo archlinux-java set java-17-openjdk'
alias j21='sudo archlinux-java set java-21-openjdk'
alias j22='sudo archlinux-java set java-22-openjdk'
{% endif %}
