{
  "browser": {
    "has_seen_welcome_page": true
  },
  "default_apps_install_state": 3,
  "download": {
    "default_directory": "{{ user_config['downloads_dir'] }}/vivaldi",
    "directory_upgrade": true
  },
  "enable_do_not_track": true,
  "google": {
    "services": {
      "consented_to_sync": false
    }
  },
  "pinned_tabs": [],
  "signin": {
    "allowed": false
  },
  "spellcheck": {
    "dictionaries": [
      "en-US"
    ],
    "dictionary": ""
  },
  "translate": {
    "enabled": false
  },
  "vivaldi": {
    "actions": [
      {
        "COMMAND_ADD_BOOKMARK": {
          "shortcuts": [
            "ctrl+d"
          ]
        },
        "COMMAND_APPEND_SELECTION_TO_NOTE": {
          "shortcuts": []
        },
        "COMMAND_BREAKMODE_TOGGLE": {
          "shortcuts": [
            "ctrl+."
          ]
        },
        "COMMAND_CALENDAR_CREATE_EVENT": {
          "shortcuts": [
            "c"
          ]
        },
        "COMMAND_CALENDAR_GOTO_DATE": {
          "shortcuts": [
            "g"
          ]
        },
        "COMMAND_CALENDAR_REFRESH": {
          "shortcuts": [
            "r"
          ]
        },
        "COMMAND_CALENDAR_SEARCH": {
          "shortcuts": [
            "/"
          ]
        },
        "COMMAND_CALENDAR_VIEWMODE_AGENDA": {
          "shortcuts": [
            "a"
          ]
        },
        "COMMAND_CALENDAR_VIEWMODE_DAY": {
          "shortcuts": [
            "d"
          ]
        },
        "COMMAND_CALENDAR_VIEWMODE_MONTH": {
          "shortcuts": [
            "m"
          ]
        },
        "COMMAND_CALENDAR_VIEWMODE_MULTIWEEK": {
          "shortcuts": [
            "n"
          ]
        },
        "COMMAND_CALENDAR_VIEWMODE_WEEK": {
          "shortcuts": [
            "w"
          ]
        },
        "COMMAND_CALENDAR_VIEWMODE_YEAR": {
          "shortcuts": [
            "y"
          ]
        },
        "COMMAND_CALENDAR_VIEW_NEXT_PERIOD": {
          "shortcuts": [
            "k",
            "pagedown"
          ]
        },
        "COMMAND_CALENDAR_VIEW_PREVIOUS_PERIOD": {
          "shortcuts": [
            "j",
            "pageup"
          ]
        },
        "COMMAND_CALENDAR_VIEW_TODAY": {
          "shortcuts": [
            "t",
            "home"
          ]
        },
        "COMMAND_CALENDAR_VIEW_ZOOM_IN": {
          "shortcuts": [
            "alt+pageup"
          ]
        },
        "COMMAND_CALENDAR_VIEW_ZOOM_OUT": {
          "shortcuts": [
            "alt+pagedown"
          ]
        },
        "COMMAND_CLIPBOARD_COPY": {
          "shortcuts": [
            "ctrl+c"
          ]
        },
        "COMMAND_CLIPBOARD_CUT": {
          "shortcuts": [
            "ctrl+x"
          ]
        },
        "COMMAND_CLIPBOARD_PASTE": {
          "shortcuts": [
            "ctrl+v"
          ]
        },
        "COMMAND_CLIPBOARD_PASTE_AS_PLAIN_TEXT": {
          "shortcuts": []
        },
        "COMMAND_CLIPBOARD_PASTE_AS_PLAIN_TEXT_OR_PASTE_AND_GO": {
          "shortcuts": [
            "ctrl+shift+v"
          ]
        },
        "COMMAND_CLIPBOARD_REDO": {
          "shortcuts": [
            "ctrl+y"
          ]
        },
        "COMMAND_CLIPBOARD_SELECT_ALL": {
          "shortcuts": [
            "ctrl+a"
          ]
        },
        "COMMAND_CLIPBOARD_UNDO": {
          "shortcuts": [
            "ctrl+z"
          ]
        },
        "COMMAND_CLOSE_TAB": {
          "gestures": [
            "20"
          ],
          "shortcuts": [
            "ctrl+w",
            "ctrl+f4",
            "q"
          ]
        },
        "COMMAND_CLOSE_WINDOW": {
          "shortcuts": [
            "ctrl+shift+w"
          ]
        },
        "COMMAND_COPY_SELECTION_TO_NOTE": {
          "shortcuts": [
            "ctrl+shift+c"
          ]
        },
        "COMMAND_DEVELOPER_TOOLS": {
          "shortcuts": [
            "ctrl+shift+i",
            "f12"
          ]
        },
        "COMMAND_DEVTOOLS_CONSOLE": {
          "shortcuts": [
            "ctrl+shift+j"
          ]
        },
        "COMMAND_DEVTOOLS_INSPECTOR": {
          "shortcuts": []
        },
        "COMMAND_DISBAND_TILE_GROUP": {
          "shortcuts": [
            "ctrl+f6"
          ]
        },
        "COMMAND_EXIT": {
          "shortcuts": [
            "ctrl+q"
          ]
        },
        "COMMAND_FIND_IN_PAGE": {
          "shortcuts": [
            "ctrl+f",
            "."
          ]
        },
        "COMMAND_FIND_NEXT_IN_PAGE": {
          "shortcuts": [
            "f3",
            "ctrl+g"
          ]
        },
        "COMMAND_FIND_PREVIOUS_IN_PAGE": {
          "shortcuts": [
            "shift+f3",
            "ctrl+shift+g"
          ]
        },
        "COMMAND_FOCUS_ADDRESSFIELD": {
          "shortcuts": [
            "f8",
            "ctrl+l"
          ]
        },
        "COMMAND_FOCUS_MAINMENU": {
          "shortcuts": [
            "f10"
          ]
        },
        "COMMAND_FOCUS_NEXT": {
          "shortcuts": [
            "f6"
          ]
        },
        "COMMAND_FOCUS_PANEL": {
          "shortcuts": [
            "f7"
          ]
        },
        "COMMAND_FOCUS_PREVIOUS": {
          "shortcuts": [
            "shift+f6"
          ]
        },
        "COMMAND_FOCUS_SEARCHFIELD": {
          "shortcuts": [
            "ctrl+k"
          ]
        },
        "COMMAND_FOCUS_WEBVIEW": {
          "shortcuts": [
            "f9"
          ]
        },
        "COMMAND_FULLSCREEN": {
          "shortcuts": [
            "f11"
          ]
        },
        "COMMAND_GO_TO_PARENT_DIRECTORY": {
          "shortcuts": []
        },
        "COMMAND_HIBERNATE_INACTIVE_WORKSPACES": {
          "shortcuts": []
        },
        "COMMAND_MAIL_COMPOSE_NEW_MESSAGE": {
          "shortcuts": [
            "n"
          ]
        },
        "COMMAND_MAIL_DELETE_PERMANENTLY": {
          "shortcuts": [
            "shift+del"
          ]
        },
        "COMMAND_MAIL_ENABLE_SENDER_VIEW": {
          "shortcuts": [
            "e"
          ]
        },
        "COMMAND_MAIL_ENABLE_THREADED_VIEW": {
          "shortcuts": [
            "t"
          ]
        },
        "COMMAND_MAIL_FORWARD": {
          "shortcuts": [
            "f"
          ]
        },
        "COMMAND_MAIL_MARK_JUNK": {
          "shortcuts": [
            "j"
          ]
        },
        "COMMAND_MAIL_MARK_NOT_JUNK": {
          "shortcuts": [
            "shift+j"
          ]
        },
        "COMMAND_MAIL_MARK_READ": {
          "shortcuts": [
            "k"
          ]
        },
        "COMMAND_MAIL_MARK_READ_AND_GOTO_NEXT_UNREAD": {
          "shortcuts": [
            "g"
          ]
        },
        "COMMAND_MAIL_MARK_THREAD_READ": {
          "shortcuts": [
            "m"
          ]
        },
        "COMMAND_MAIL_MARK_THREAD_UNREAD": {
          "shortcuts": [
            "shift+m"
          ]
        },
        "COMMAND_MAIL_MARK_UNREAD": {
          "shortcuts": [
            "shift+k"
          ]
        },
        "COMMAND_MAIL_QUEUE_MESSAGE": {
          "shortcuts": [
            "ctrl+shift+enter"
          ]
        },
        "COMMAND_MAIL_REPLY": {
          "shortcuts": [
            "r"
          ]
        },
        "COMMAND_MAIL_REPLY_ALL": {
          "shortcuts": [
            "shift+r"
          ]
        },
        "COMMAND_MAIL_SEND_MESSAGE": {
          "shortcuts": [
            "ctrl+enter"
          ]
        },
        "COMMAND_MAIN_TOGGLE_ADDRESS_BAR": {
          "shortcuts": []
        },
        "COMMAND_MAIN_TOGGLE_PANEL_TOGGLE": {
          "shortcuts": []
        },
        "COMMAND_MAIN_TOGGLE_TAB_BAR": {
          "shortcuts": []
        },
        "COMMAND_MAIN_TOGGLE_UI": {
          "shortcuts": [
            "ctrl+f11"
          ]
        },
        "COMMAND_MAIN_ZOOM_DOUBLE": {
          "shortcuts": [
            "8",
            "numpad8"
          ]
        },
        "COMMAND_MAIN_ZOOM_HALF": {
          "shortcuts": [
            "7",
            "numpad7"
          ]
        },
        "COMMAND_MAIN_ZOOM_IN": {
          "shortcuts": [
            "0",
            "numpad0",
            "+",
            "ctrl++",
            "ctrl+="
          ]
        },
        "COMMAND_MAIN_ZOOM_OUT": {
          "shortcuts": [
            "9",
            "numpad9",
            "-",
            "ctrl+-"
          ]
        },
        "COMMAND_MAIN_ZOOM_RESET": {
          "shortcuts": [
            "ctrl+0",
            "ctrl+numpad0",
            "6",
            "numpad6",
            "*",
            "ctrl+*"
          ]
        },
        "COMMAND_NEW_BACKGROUND_TAB": {
          "gestures": [
            "26"
          ]
        },
        "COMMAND_NEW_BACKGROUND_TAB_LINK": {
          "gestures": [
            "e26"
          ]
        },
        "COMMAND_NEW_PRIVATE_WINDOW": {
          "shortcuts": [
            "ctrl+shift+n"
          ]
        },
        "COMMAND_NEW_TAB": {
          "gestures": [
            "2"
          ],
          "shortcuts": [
            "ctrl+t",
            "t"
          ]
        },
        "COMMAND_NEW_TAB_LINK": {
          "gestures": [
            "e2"
          ]
        },
        "COMMAND_NEW_TAB_OUTSIDE_GROUP": {
          "shortcuts": []
        },
        "COMMAND_NEW_WINDOW": {
          "shortcuts": [
            "ctrl+n"
          ]
        },
        "COMMAND_OPEN_PAGE": {
          "shortcuts": [
            "ctrl+o"
          ]
        },
        "COMMAND_PAGE_BACK": {
          "gestures": [
            "4"
          ],
          "shortcuts": [
            "alt+left",
            "ctrl+left",
            "backspace",
            "z"
          ]
        },
        "COMMAND_PAGE_FAST_FORWARD": {
          "gestures": [
            "06"
          ]
        },
        "COMMAND_PAGE_FORWARD": {
          "gestures": [
            "0"
          ],
          "shortcuts": [
            "alt+right",
            "ctrl+right",
            "x"
          ]
        },
        "COMMAND_PAGE_REFRESH": {
          "gestures": [
            "62"
          ],
          "shortcuts": [
            "ctrl+r",
            "f5"
          ]
        },
        "COMMAND_PAGE_RELOAD_NOCACHE": {
          "shortcuts": [
            "ctrl+shift+r",
            "ctrl+f5"
          ]
        },
        "COMMAND_PAGE_REWIND": {
          "gestures": [
            "42"
          ]
        },
        "COMMAND_PRINT_PAGE": {
          "shortcuts": [
            "ctrl+p"
          ]
        },
        "COMMAND_READERVIEW_TOGGLE": {
          "shortcuts": []
        },
        "COMMAND_SAVE_PAGE": {
          "shortcuts": [
            "ctrl+s"
          ]
        },
        "COMMAND_SHOW_BOOKMARKS": {
          "shortcuts": [
            "ctrl+b"
          ]
        },
        "COMMAND_SHOW_BOOKMARK_BAR": {
          "shortcuts": [
            "ctrl+shift+b"
          ]
        },
        "COMMAND_SHOW_CLEAR_PRIVATE_DATA": {
          "shortcuts": [
            "ctrl+shift+del"
          ]
        },
        "COMMAND_SHOW_DOWNLOADS_PANEL": {
          "shortcuts": [
            "ctrl+shift+d",
            "ctrl+j"
          ]
        },
        "COMMAND_SHOW_EXTENSIONS": {
          "shortcuts": [
            "ctrl+shift+e"
          ]
        },
        "COMMAND_SHOW_HELP": {
          "shortcuts": [
            "f1"
          ]
        },
        "COMMAND_SHOW_HISTORY": {
          "shortcuts": [
            "ctrl+h"
          ]
        },
        "COMMAND_SHOW_HISTORY_PANEL": {
          "shortcuts": [
            "ctrl+shift+h"
          ]
        },
        "COMMAND_SHOW_HOMEPAGE": {
          "shortcuts": [
            "alt+home"
          ]
        },
        "COMMAND_SHOW_KEYBOARDSHORTCUTS": {
          "shortcuts": [
            "ctrl+f1"
          ]
        },
        "COMMAND_SHOW_MAIL_PANEL": {
          "shortcuts": [
            "ctrl+shift+m"
          ]
        },
        "COMMAND_SHOW_NEXT_PANEL": {
          "shortcuts": [
            "alt+f7"
          ]
        },
        "COMMAND_SHOW_NOTES_PANEL": {
          "shortcuts": [
            "ctrl+shift+o"
          ]
        },
        "COMMAND_SHOW_PREVIOUS_PANEL": {
          "shortcuts": [
            "alt+shift+f7"
          ]
        },
        "COMMAND_SHOW_QUICK_COMMANDS": {
          "shortcuts": [
            "ctrl+e",
            "f2"
          ]
        },
        "COMMAND_SHOW_SETTINGS": {
          "shortcuts": [
            "ctrl+f12"
          ]
        },
        "COMMAND_SHOW_WORKSPACE_MENU": {
          "shortcuts": []
        },
        "COMMAND_SPATNAV_DOWN": {
          "shortcuts": [
            "shift+down",
            "s"
          ]
        },
        "COMMAND_SPATNAV_LEFT": {
          "shortcuts": [
            "shift+left",
            "a"
          ]
        },
        "COMMAND_SPATNAV_RIGHT": {
          "shortcuts": [
            "shift+right",
            "d"
          ]
        },
        "COMMAND_SPATNAV_UP": {
          "shortcuts": [
            "shift+up",
            "w"
          ]
        },
        "COMMAND_STOP_PAGE": {
          "gestures": [
            "6"
          ],
          "shortcuts": [
            "esc"
          ]
        },
        "COMMAND_TAB_MOVE_BACKWARD": {
          "shortcuts": [
            "ctrl+shift+pageup"
          ]
        },
        "COMMAND_TAB_MOVE_FORWARD": {
          "shortcuts": [
            "ctrl+shift+pagedown"
          ]
        },
        "COMMAND_TAB_REOPEN_RECENTLY_CLOSED": {
          "gestures": [
            "60"
          ],
          "shortcuts": [
            "ctrl+shift+t",
            "ctrl+z"
          ]
        },
        "COMMAND_TAB_STACK_TILE_GRID": {
          "shortcuts": [
            "ctrl+f7"
          ]
        },
        "COMMAND_TAB_STACK_TILE_HORIZONTAL": {
          "shortcuts": [
            "ctrl+f8"
          ]
        },
        "COMMAND_TAB_STACK_TILE_VERTICAL": {
          "shortcuts": [
            "ctrl+f9"
          ]
        },
        "COMMAND_TAB_SWITCH_1": {
          "shortcuts": [
            "ctrl+1",
            "ctrl+numpad1"
          ]
        },
        "COMMAND_TAB_SWITCH_2": {
          "shortcuts": [
            "ctrl+2",
            "ctrl+numpad2"
          ]
        },
        "COMMAND_TAB_SWITCH_3": {
          "shortcuts": [
            "ctrl+3",
            "ctrl+numpad3"
          ]
        },
        "COMMAND_TAB_SWITCH_4": {
          "shortcuts": [
            "ctrl+4",
            "ctrl+numpad4"
          ]
        },
        "COMMAND_TAB_SWITCH_5": {
          "shortcuts": [
            "ctrl+5",
            "ctrl+numpad5"
          ]
        },
        "COMMAND_TAB_SWITCH_6": {
          "shortcuts": [
            "ctrl+6",
            "ctrl+numpad6"
          ]
        },
        "COMMAND_TAB_SWITCH_7": {
          "shortcuts": [
            "ctrl+7",
            "ctrl+numpad7"
          ]
        },
        "COMMAND_TAB_SWITCH_8": {
          "shortcuts": [
            "ctrl+8",
            "ctrl+numpad8"
          ]
        },
        "COMMAND_TAB_SWITCH_BACK_HISTORY": {
          "shortcuts": [
            "3",
            "numpad3"
          ]
        },
        "COMMAND_TAB_SWITCH_BACK_ORDER": {
          "shortcuts": [
            "ctrl+pageup",
            "1",
            "numpad1"
          ]
        },
        "COMMAND_TAB_SWITCH_BACK_SETTING": {
          "shortcuts": [
            "ctrl+shift+tab"
          ]
        },
        "COMMAND_TAB_SWITCH_FORWARD_HISTORY": {
          "shortcuts": [
            "4",
            "numpad4"
          ]
        },
        "COMMAND_TAB_SWITCH_FORWARD_ORDER": {
          "shortcuts": [
            "ctrl+pagedown",
            "2",
            "numpad2"
          ]
        },
        "COMMAND_TAB_SWITCH_FORWARD_SETTING": {
          "shortcuts": [
            "ctrl+tab"
          ]
        },
        "COMMAND_TAB_SWITCH_LAST": {
          "shortcuts": [
            "ctrl+9",
            "ctrl+numpad9"
          ]
        },
        "COMMAND_TAB_THUMBNAIL": {
          "shortcuts": []
        },
        "COMMAND_TAB_TRANSLATE_PAGE": {
          "shortcuts": []
        },
        "COMMAND_TAB_VIEW_PAGE_SOURCE": {
          "shortcuts": [
            "ctrl+u"
          ]
        },
        "COMMAND_TASK_MANAGER": {
          "shortcuts": [
            "shift+esc"
          ]
        },
        "COMMAND_TOGGLE_FOOTER": {
          "shortcuts": [
            "ctrl+shift+s"
          ]
        },
        "COMMAND_TOGGLE_IMAGES": {
          "shortcuts": []
        },
        "COMMAND_TOGGLE_MENU_POSITION": {
          "shortcuts": []
        },
        "COMMAND_TOGGLE_PANEL": {
          "shortcuts": [
            "f4"
          ]
        },
        "COMMAND_WORKSPACE_SWITCH_1": {
          "shortcuts": [
            "ctrl+shift+1"
          ]
        },
        "COMMAND_WORKSPACE_SWITCH_10": {
          "shortcuts": []
        },
        "COMMAND_WORKSPACE_SWITCH_2": {
          "shortcuts": [
            "ctrl+shift+2"
          ]
        },
        "COMMAND_WORKSPACE_SWITCH_3": {
          "shortcuts": [
            "ctrl+shift+3"
          ]
        },
        "COMMAND_WORKSPACE_SWITCH_4": {
          "shortcuts": [
            "ctrl+shift+4"
          ]
        },
        "COMMAND_WORKSPACE_SWITCH_5": {
          "shortcuts": [
            "ctrl+shift+5"
          ]
        },
        "COMMAND_WORKSPACE_SWITCH_6": {
          "shortcuts": [
            "ctrl+shift+6"
          ]
        },
        "COMMAND_WORKSPACE_SWITCH_7": {
          "shortcuts": [
            "ctrl+shift+7"
          ]
        },
        "COMMAND_WORKSPACE_SWITCH_8": {
          "shortcuts": [
            "ctrl+shift+8"
          ]
        },
        "COMMAND_WORKSPACE_SWITCH_9": {
          "shortcuts": [
            "ctrl+shift+9"
          ]
        }
      }
    ],
    "address_bar": {
      "inline_search": {
        "enabled": true
      },
      "show_full_url": true
    },
    "bookmarks": {
      "deleted_partners": [],
      "language": "en-US",
      "version": "30"
    },
    "calendar": {
      "templates_version": 1
    },
    "homepage": "vivaldi://startpage",
    "keyboard": {
      "shortcuts": {
        "enable_single_key": true
      }
    },
    "language_at_install": "en-US",
    "mouse_gestures": {
      "enabled": false,
      "rocker_gestures": {
        "enabled": false
      }
    },
    "panels": {
      "show_close_button": true,
      "show_toggle": false,
      "window_defaults": {
        "barVisible": false,
        "panelVisible": false,
        "width": 0
      }
    },
    "privacy": {
      "autofill": {
        "server_assist": false
      },
      "google_component_extensions": {
        "hangout_services": false,
        "web_store": false
      }
    },
    "status_bar": {
      "display": 1
    },
    "system": {
      "show_exit_confirmation_dialog": false
    },
    "tabs": {
      "stacking": {
        "substrip_locked": false
      }
    },
    "theme": {
      "schedule": {
        "o_s": {
          "dark": "Vivaldi2",
          "light": "Vivaldi2"
        }
      }
    },
    "toolbars": {
      "navigation": [
        "Back",
        "Forward",
        "Reload",
        "AddressField",
        "ExtensionInstallInfo"
      ],
      "panel": [
        "PanelBookmarks",
        "PanelReadingList",
        "PanelDownloads",
        "PanelHistory",
        "PanelNotes",
        "PanelTranslate",
        "PanelWindow",
        "PanelMail",
        "PanelCalendar",
        "PanelTasks",
        "PanelFeeds",
        "PanelContacts",
        "PanelSession",
        "PanelWeb",
        "Settings"
      ],
      "status": [
        "BreakMode",
        "SyncStatus",
        "MailStatus",
        "CalendarStatus",
        "VersionInfo",
        "CaptureImages",
        "ImagesToggle",
        "TilingToggle",
        "PageActions",
        "Zoom",
        "Clock"
      ]
    },
    "translate": {
      "enabled": false
    },
    "welcome": {
      "read_pages": [
        "intro"
      ],
      "seen_pages": [
        "intro",
        "tracker_and_ad",
        "import_data",
        "personalize",
        "tabs",
        "welcome_feature_amount"
      ]
    },
    "windows": {
      "show_window_close_confirmation_dialog": false
    },
    "workspaces": {
      "button": {
        "show_in_tabbar": false
      }
    }
  }
}
