<?xml version="1.0" encoding="UTF-8"?>
<doublecmd DCVersion="1.0.11" ConfigVersion="13">
  <Behaviours>
    <RunInTerminalStayOpenCmd>{{ doublecmd['terminal'] }}</RunInTerminalStayOpenCmd>
    <RunInTerminalStayOpenParams>-e sh -c '{command}; echo -n Press ENTER to exit... ; read a'</RunInTerminalStayOpenParams>
    <RunInTerminalCloseCmd>{{ doublecmd['terminal'] }}</RunInTerminalCloseCmd>
    <RunInTerminalCloseParams>-e sh -c {command}</RunInTerminalCloseParams>
    <JustRunTerminal>{{ doublecmd['terminal'] }}</JustRunTerminal>
    <JustRunTermParams/>
  </Behaviours>

  <Tools>
    <Editor Enabled="True">
      <Path>{{ doublecmd['editor'] }}</Path>
      <Parameters/>
      <RunInTerminal>False</RunInTerminal>
      <KeepTerminalOpen>False</KeepTerminalOpen>
    </Editor>
  </Tools>

  <Fonts>
    <Main>
      <Name>Sans</Name>
      <Size>10</Size>
      <Style>0</Style>
      <Quality>0</Quality>
    </Main>
    <Editor>
      <Name>Monospace</Name>
      <Size>14</Size>
      <Style>0</Style>
      <Quality>0</Quality>
    </Editor>
    <Viewer>
      <Name>Monospace</Name>
      <Size>14</Size>
      <Style>0</Style>
      <Quality>0</Quality>
    </Viewer>
    <Log>
      <Name>Monospace</Name>
      <Size>12</Size>
      <Style>0</Style>
      <Quality>0</Quality>
    </Log>
    <Console>
      <Name>Monospace</Name>
      <Size>12</Size>
      <Style>0</Style>
      <Quality>0</Quality>
    </Console>
  </Fonts>

  <Layout>
    <MainMenu>True</MainMenu>
    <ButtonBar Enabled="False">
      <IconSize>16</IconSize>
    </ButtonBar>
    <MiddleBar Enabled="False">
      <IconSize>16</IconSize>
    </MiddleBar>
    <DriveBar1>False</DriveBar1>
    <DriveBar2>True</DriveBar2>
    <DrivesListButton Enabled="True">
      <ShowLabel>True</ShowLabel>
      <ShowFileSystem>True</ShowFileSystem>
      <ShowFreeSpace>True</ShowFreeSpace>
    </DrivesListButton>
    <SeparateTree>False</SeparateTree>
    <DirectoryTabs>True</DirectoryTabs>
    <CurrentDirectory>True</CurrentDirectory>
    <TabHeader>True</TabHeader>
    <StatusBar>True</StatusBar>
    <CmdLine>True</CmdLine>
    <LogWindow>False</LogWindow>
    <TermWindow>False</TermWindow>
    <KeyButtons>True</KeyButtons>
    <InterfaceFlat>True</InterfaceFlat>
    <DriveFreeSpace>True</DriveFreeSpace>
    <DriveIndicator>False</DriveIndicator>
    <ProgressInMenuBar>False</ProgressInMenuBar>
    <PanelOfOperationsInBackground>True</PanelOfOperationsInBackground>
    <HorizontalFilePanels>False</HorizontalFilePanels>
    <ShortFormatDriveInfo>True</ShortFormatDriveInfo>
    <UppercaseDriveLetter>False</UppercaseDriveLetter>
    <ShowColonAfterDrive>False</ShowColonAfterDrive>
  </Layout>

  <FileOperations>
    <ShowDialogOnDragDrop>True</ShowDialogOnDragDrop>
  </FileOperations>

  <Icons>
    <Theme>dctheme</Theme>
    <Size>16</Size>
    <DiskSize>16</DiskSize>
    <DiskAlpha>50</DiskAlpha>
    <ToolSize>24</ToolSize>
    <ShowInMenus Enabled="False">
      <Size>16</Size>
    </ShowInMenus>
  </Icons>

  <IgnoreList Enabled="True">
    <IgnoreListFile>%DC_CONFIG_PATH%/ignorelist.txt</IgnoreListFile>
  </IgnoreList>
</doublecmd>
